#map-title {
  color: #2176FF;
}
#map-title {
  font-family: "Farsan", sans-serif;
}
h1 {
  font-family: "New Amsterdam", sans-serif;
}
h1 {
  color: #48CAE4
}
h2 {
  font-family: "Moderustic", sans-serif;
}
h2 {
  color: #90E0EF;
}
